# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environments
# ===============================
venv/
env/
.venv/
ENV/
virtual_area/
# ===============================
# Environment Variables
# ===============================
.env
.env.*

# ===============================
# Logs & Temp Files
# ===============================
*.log
*.tmp
*.pid

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Testing & Coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# Python Packaging
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Database Files
# ===============================
*.sqlite3
*.db

# ===============================
# Docker (optional)
# ===============================
*.tar

# ===============================
# Node (if frontend exists)
# ===============================
node_modules/